/*bg color*/
.bg_F0466F {
    background-color: #F0466F;
}

.bg_0BD6A1 {
    background-color: #0BD6A1;
}

.bg_FFD166 {
    background-color: #FFD166;
}

.bg_1389B2 {
    background-color: #1389B2;
}

.bg_083B4C {
    background-color: #083B4C;
}

.w_75 {
    width: 75vw;
}

.m_0_auto {
    margin: 0 auto;
}

.square {
    height: calc(75vw / 7 - 20px);
    width: calc(75vw / 7 - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.d_flex {
    display: flex;
    flex-wrap: wrap;
}